.section {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  height: 400px;
  align-items: center;
}

.section.reverse {
  flex-direction: row-reverse;
}

.section-image {
  flex: 0 0 50%;
  height: auto;
  max-width: 100%;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.section-content {
  flex: 1;
}
