<div class="section">
    <img class="section-image" src='{{squareComponents[0]?.imgUrl}}'>
    <div class="section-content">
      SECTION TEXT
      SECTION TEXT
      SECTION TEXT
      SECTION TEXT
      SECTION TEXT
      SECTION TEXT
    </div>
  </div>
  <div *ngIf='squareComponents[1] != undefined' class="section reverse">
    <img class="section-image" src='{{squareComponents[1]?.imgUrl}}'>
    <div class="section-content">
      SECTION TEXT
      SECTION TEXT
      SECTION TEXT
      SECTION TEXT
      SECTION TEXT
      SECTION TEXT
    </div>
  </div>