.sticky-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.quote {
  animation: fade 6s infinite;
}

.navbar-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
