<mat-toolbar color="primary" 
    (mouseover)="toggleNavbar()" 
    (mouseout)="toggleNavbar()"
    [@growShrink]="navbarState" >
    <button mat-icon-button
    [matMenuTriggerFor] = "menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
        <button mat-menu-item routerLink="/about">About me</button>
        <!-- <button mat-menu-item routerLink="/career">Career objectives</button> -->
    </mat-menu>
    <span>Karol Pietryka - Software Developer</span>
</mat-toolbar>
