<div class="container">
    <div class="panels">
        <mat-accordion>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Section 1
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p></p>
            </mat-expansion-panel>
            <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                Section 2
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p></p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>