.profile-card {
  //position: fixed;
  width: 300px;
  height: 100vh; /* This makes sure that your sidebar takes the full height of the viewport */
  //   top: 0; /* These two properties ensure that your sidebar starts from the very top left corner of the page */
  //   left: 0;
  overflow-y: auto; /* This ensures that your sidebar scrolls if the content is taller than the viewport */
}
