<footer>
    <a href="#" target="_blank" class="social-media-link">
        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
    </a>
    <a href="#" target="_blank" class="social-media-link">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
    </a>
    <a href="#" target="_blank" class="social-media-link">
        <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
    </a>
    <a href="#" target="_blank" class="social-media-link">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
</footer>
