footer {
  background-color: #f8f9fa;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.social-media-link {
  margin: 0 15px;
  color: #3b5998; /* adjust color as needed */
}

.social-media-link:hover {
  color: #8b9dc3; /* adjust color as needed */
}
