/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Source Code Pro", monospace !important;
  background-color: var(--background-main-theme);
}
:root {
  --background-element-theme: #07002b;
  --background-main-theme: #04001e;
  --zoom-hover: transform 0.3s ease-in-out;
  --text-color: #ffffff;
}
.img-radios {
  border-radius: 15px !important;
}

.dialog .mat-dialog-container {
  color: white;
  background-color: var(--background-element-theme);
}
.dialog-blur {
  backdrop-filter: blur(8px);
}

a:link,
a:visited,
a:hover,
a:active {
  color: var(--text-color);
  text-decoration: none;
}

p {
  // font-family: "Source Code Pro", monospace !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
