.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.example-card {
  max-width: 400px;
  margin: 10px;
  width: 80%;
  transition: transform 0.3s ease-in-out;
  //background-color: #04001e;
  background-color: #07002b;
  color: white;
}

.tail-img {
  cursor: pointer;
  border-radius: 15px !important;
}

mat-card-actions button {
  background-color: #282537;
}
.example-header-image {
  background-image: url("../../../assets/KP_circle.png");
  background-size: cover;
}

.example-card:hover {
  transform: scale(1.05);
}

mat-card {
  border: 1px solid white;
  border-radius: 15px;
}
