<div class="container">
    <mat-card class="example-card">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>SubTitle</mat-card-subtitle>
      </mat-card-header> -->
      <img mat-card-image class="tail-img" src="{{imgUrl}}" alt="Photo of {{title}}">
      <mat-card-content>
        <p>desc</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>